body {
    margin:0;
    padding-top: 0;
}

header{
    margin:0;
    /* padding-top: 0; */
    background: #03a9f4;
    text-align: center
}

h4{
    font-size: 30px;
    margin: 10px
}
.logo{
    color: #fff;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

header input{
    font-size: 20px;
    margin:20px ;
}

.active{
    background: #0A2463
}

/* new_list_item  */
.textjson{
    padding: 20px;
    background: #E3E3E3;
    border-bottom: 1px solid grey;
    text-align: justify
}

.textjsontitre{
    font-size: 0,9em;
    font-style: italic;
    box-sizing: border-box
}

.textjsontitre:hover{
    color:red;
}

/* @media(max-width:500px){
    color: blue
} */